* {
    -webkit-appearance: none;
}

.navbar {
    text-align: right;
    margin-top: 15px;
    margin-right: 5px;
}

.logo {
    width: 100%;
}
.search-bar { 
    width: 100%;
}

.search-bar #InputB {
    display: block;
    margin: 0 auto;

}

.logo img{
    display: block;
    margin: 0 auto;
    margin-top: 11em;
    margin-bottom: 2em;

}